# Python
__pycache__/
*.py[cod]
.venv/
.env
*.log

# Editors
.vscode/
.idea/

# OS
.DS_Store

packages.microsoft.gpg
# logging-service runtime data
logging-service/data/*.jsonl
logging-service/data/*.json1
